!!!
html
  head
    meta(charset='utf-8')
    title jQuery Plugin
    link(rel='stylesheet', href='js/vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='js/vendor/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/jquery.plugin.css')
  block nav
    ul
      li
        a(href="https://github.com/") Github
      li
        a(href="https://bing.com/") Bing
      li
        a(href="https://Google.com/") Google
      li
        a(href="https://Yahoo.com/") Yahoo
      li
        a(href="https://Twitter.com/") Twitter


  block body

  block footer
    script(src='js/vendor/jquery-1.10.2.js')
    script(src='js/vendor/zepto.js')
    script(src='js/vendor/bootstrap/js/bootstrap.js')
    script(src='js/jquery.plugin.js')

script
  (function(){
    $('.nav').plugin();
  })(jQuery);
